# .emacs.d

elpa/
tmp/*
*.dat
/README.txt
# loads/my-functions/*
loads/elisp/*
loads/site-lisp/*
my-data/snippets/*
my-data/ac-dict/*

#*#
.mc-lists.el

!.gitkeep

# 個別ファイル
transient
21-only-my-package.el
network-security.data
srecode-map.el
custom.el
amx-items