# .emacs.d

*.dat
/README.txt
/places
loads/inits/custom-theme-directory/
# loads/my-functions/*
loads/elisp/elpa/*
loads/elisp/site-lisp/aoj-submit/
auto-save-list/*
eshell
history
image-dired
my-data/snippets/*
my-data/ac-dict/*

undohist/
#*#
.mc-lists.el

!.gitkeep

# 個別ファイル
20-aoj-submit.el
